$main-bg:hsl(268, 75%, 9%);
$result-screen-bg:hsl(268, 71%, 12%);
$key-container-bg: hsl(268, 71%, 12%);

//text
$text-color-white:hsl(0, 0, 100%);
$text-color: hsl(52, 100%, 62%);

//result and logo
$result-logo:hsl(52, 100%, 62%);

//key
$key-bg:hsl(281, 89%, 26%);
$key-shadow:hsl(285, 91%, 52%);

$key-bg-2:hsl(281, 89%, 26%);
$key-shadow-2:hsl(285, 91%, 52%);

$key-bg-3:hsl(176, 100%, 44%);
$key-shadow-3:hsl(177, 92%, 70%);



