$main-bg:hsl(0, 0%, 90%);
$result-screen-bg:hsl(0, 0%, 93%);
$key-container-bg: hsl(0, 5%, 81%);

//text
$text-color-white:hsl(0, 0, 100%);
$text-color: hsl(60, 10%, 19%);

//result and logo
$result-logo:hsl(60, 10%, 19%);

//key
$key-bg:hsl(45, 7%, 89%);
$key-shadow:hsl(35, 11%, 61%);

$key-bg-2:hsl(185, 42%, 37%);
$key-shadow-2:hsl(185, 58%, 25%);

$key-bg-3:hsl(25, 98%, 40%);
$key-shadow-3:hsl(25, 99%, 27%);





